* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background: linear-gradient(68.15deg, rgb(33, 34, 33) 17%, rgb(68, 177, 92) 83%);
}

.texto {
    font-family: 'Roboto', sans-serif;
    color: rgb(218, 219, 205);
}

/*link não visitado*/
.exemplo:focus {
    color: rgb(171, 222, 241);
}

/* Link visitado: */
.exemplo2:visited {
    color: rgb(241, 24, 24);
}


.exemplo3:hover {
    color: rgb(25, 230, 52)
}

.pseudo_elementos::selection {
        background-color: rgb(231, 247, 12);
        color: red;
}

.pseudo_elementos2::after {
    content: ' [Exemplo]';
    color: rgb(129, 129, 129);
}

.pseudo_elementos3::before {
    content: '[Exemplo] ';
    color: rgb(129, 129, 129);
}

h1 {
    color: rgb(43, 228, 228);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h2 {
    color: aquamarine;
    font-family: 'Times New Roman', Times, serif;
}

h5 {
    font-family: 'Roboto', sans-serif;
    color: rgb(218, 219, 205);
}

#exemplo_id {
    font-family: 'Roboto', sans-serif;
    color: rgb(240, 30, 30);
}