@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background: linear-gradient(68.15deg, rgb(33, 34, 33) 17%, rgb(68, 177, 92) 83%
    );
}

.texto {
    font-family: 'Roboto', sans-serif;
    color: rgb(218, 219, 205);
}

h1 {
    color: rgb(43, 228, 228);
    font-family: 'Amaranth', sans-serif;
}

h2 {
    color: aquamarine;,
    font-family: 'Roboto', sans-serif;

}

#exemplo_id {
    font-family: 'Roboto', sans-serif;
    color: rgb(240, 30, 30);
}